#set( $builder = $bean.edoBuilder)
#set( $beanVar = $constants.getUnCapitalize($bean.name))
#set( $beanClass = $bean.name)
#parse("templates/common/license/java_license.vm")
package ${builder.packageName}.aps.internalservlet.$constants.getLowerCase($beanVar);

import ${builder.packageName}.${constants.apsadminPackage}.$constants.getLowerCase($beanVar).${beanClass}FinderAction;

public class ${beanClass}FinderFrontEndAction extends ${beanClass}FinderAction {


}
