#set( $builder = $bean.edoBuilder)
#set( $beanVar = $constants.getUnCapitalize($bean.name))
#set( $beanClass = $bean.name)
#parse("templates/common/license/java_license.vm")
package ${builder.packageName}.${constants.servicesPackage}.${constants.getLowerCase($bean.name)}.event;

import com.agiletec.aps.system.common.notify.ObserverService;

public interface ${beanClass}ChangedObserver extends ObserverService {
	
	public void updateFrom${beanClass}Changed(${beanClass}ChangedEvent event);
	
}
