#set( $builder = $bean.edoBuilder)
#set( $beanClass = $bean.name)
#set( $beanVar = $constants.getUnCapitalize($bean.name))
#parse("templates/common/license/java_license.vm")
package ${builder.packageName}.${constants.servicesPackage}.${constants.getLowerCase($bean.name)}.api;

import javax.xml.bind.annotation.XmlElement;
import javax.xml.bind.annotation.XmlRootElement;

import org.entando.entando.aps.system.services.api.model.AbstractApiResponse;
import org.entando.entando.aps.system.services.api.model.AbstractApiResponseResult;


@XmlRootElement(name = "response")
public class ${beanClass}ListResponse extends AbstractApiResponse {
    
    @Override
    @XmlElement(name = "result", required = true)
    public ${beanClass}ListResponseResult getResult() {
        return (${beanClass}ListResponseResult) super.getResult();
    }
    
    @Override
    protected AbstractApiResponseResult createResponseResultInstance() {
        return new ${beanClass}ListResponseResult();
    }
    
}