#set( $beanClass = $bean.name)
#set( $beanVar = $constants.getUnCapitalize($bean.name))
#parse("templates/common/license/java_license.vm")
package ${bean.getPackageName()}.${constants.servicesPackage}.${constants.getLowerCase($bean.name)}.api;

import javax.xml.bind.annotation.XmlElement;
import javax.xml.bind.annotation.XmlRootElement;

import org.entando.entando.aps.system.services.api.model.AbstractApiResponse;
import org.entando.entando.aps.system.services.api.model.AbstractApiResponseResult;


@XmlRootElement(name = "response")
public class ${beanClass}Response extends AbstractApiResponse {
    
    @Override
    @XmlElement(name = "result", required = true)
    public ${beanClass}ResponseResult getResult() {
        return (${beanClass}ResponseResult) super.getResult();
    }
    
    @Override
    protected AbstractApiResponseResult createResponseResultInstance() {
        return new ${beanClass}ResponseResult();
    }
    
}