#if($builder.plugin)
#set($label_prep="${builder.pluginName}.")
#else
#set($label_prep="")
#end
${builder.pluginName}.code=${builder.pluginName}
${builder.pluginName}.name=${builder.pluginName} Plugin

#foreach($bean in $builder.beans)
#set( $beanVar = $constants.getUnCapitalize($bean.name))
#set( $beanClass = $bean.name)
#set( $pk_field = $bean.fields[0])
${label_prep}title.${beanVar}Management=${beanClass}s
#end
