#set( $springPrep = $constants.getLowerCase($builder.springBeanPreposition))
<?xml version="1.0" encoding="UTF-8"?>
<component>
	<code>#if($builder.plugin)$builder.pluginName#else${builder.projectName}#end</code>
	<description>#if($builder.plugin)$builder.pluginName#else${builder.projectName}#end</description>
	<installation>
		<tableMapping>
			<datasource name="servDataSource">
#foreach($bean in $builder.beans)
#set( $beanClass = $bean.name)
				<class>${builder.packageName}.${constants.initPackage}.$bean.name</class>
#end
			</datasource>
		</tableMapping>
		<environment code="production">
			<defaultSqlResources>
				<datasource name="portDataSource">
#if($builder.plugin)
classpath:sql/plugins/${bean.getEdoBuilder().getPluginName()}/port_data_production.sql
#else
classpath:sql/misc/${builder.projectName}/port_data_production.sql
#end
				</datasource>
				<datasource name="servDataSource">
#if($builder.plugin)
classpath:sql/plugins/${builder.pluginName}/serv_data_production.sql
#else
classpath:sql/misc/${builder.projectName}/serv_data_production.sql
#end
				</datasource>
			</defaultSqlResources>
		</environment>
		<environment code="test">
			<defaultSqlResources>
				<datasource name="portDataSource">
#if($builder.plugin)
classpath:sql/plugins/${bean.getEdoBuilder().getPluginName()}/port_data_test.sql
#else
classpath:sql/misc/${builder.projectName}/port_data_test.sql
#end
				</datasource>
				<datasource name="servDataSource">
#if($builder.plugin)
classpath:sql/plugins/${bean.getEdoBuilder().getPluginName()}/serv_data_test.sql
#else
classpath:sql/misc/${builder.projectName}/serv_data_test.sql
#end
				</datasource>
			</defaultSqlResources>
		</environment>
	</installation>
</component>