#set( $builder = $bean.edoBuilder)
#set( $beanVar = $constants.getUnCapitalize($bean.name))
#set( $beanClass = $bean.name)
#set( $springPrep = $constants.getLowerCase($builder.springBeanPreposition))
#set( $i18keyPrep = "")
#if($builder.plugin)
#set( $i18keyPrep = ${builder.pluginName}+"_")
#end
#set( $i18keyBean = $constants.toUpperCase($bean.name))
#set( $pk_field = $bean.fields[0])
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="s" uri="/struts-tags" %>
<%@ taglib prefix="wp" uri="/aps-core" %>
<%@ taglib prefix="wpsa" uri="/apsadmin-core" %>

<%--CAL START --%>

<wp:info key="currentLang" var="currentLang" />

<c:set var="js_for_datepicker">
/* Italian initialisation for the jQuery UI date picker plugin. */
/* Written by Antonello Pasella (antonello.pasella@gmail.com). */
jQuery(function($){
$.datepicker.regional['it'] = {
closeText: 'Chiudi',
prevText: '&#x3c;Prec',
nextText: 'Succ&#x3e;',
currentText: 'Oggi',
monthNames: ['Gennaio','Febbraio','Marzo','Aprile','Maggio','Giugno',
'Luglio','Agosto','Settembre','Ottobre','Novembre','Dicembre'],
monthNamesShort: ['Gen','Feb','Mar','Apr','Mag','Giu',
'Lug','Ago','Set','Ott','Nov','Dic'],
dayNames: ['Domenica','Luned&#236','Marted&#236','Mercoled&#236','Gioved&#236','Venerd&#236','Sabato'],
dayNamesShort: ['Dom','Lun','Mar','Mer','Gio','Ven','Sab'],
dayNamesMin: ['Do','Lu','Ma','Me','Gi','Ve','Sa'],
weekHeader: 'Sm',
dateFormat: 'dd/mm/yy',
firstDay: 1,
isRTL: false,
showMonthAfterYear: false,
yearSuffix: ''};
});

jQuery(function($){
if (Modernizr.touch && Modernizr.inputtypes.date) {
$.each( $("input[data-isdate=true]"), function(index, item) {
item.type = 'date';
});
} else {
$.datepicker.setDefaults( $.datepicker.regional[ "<c:out value="${currentLang}" />" ] );
$("input[data-isdate=true]").datepicker({
       changeMonth: true,
       changeYear: true,
       dateFormat: "dd/mm/yy"
     });
}
});
</c:set>
<wp:headInfo type="JS" info="entando-misc-html5-essentials/modernizr-2.5.3-full.js" />
<wp:headInfo type="JS_EXT" info="http://code.jquery.com/ui/1.10.1/jquery-ui.js" />
<wp:headInfo type="CSS_EXT" info="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<wp:headInfo type="JS_RAW" info="${js_for_datepicker}" />

<%--CAL END --%>

<%--
optional CSS
<wp:headInfo type="CSS" info="widgets/${beanVar}_list.css" />
--%>

<section class="${beanVar}_list">

<h1><wp:i18n key="${i18keyPrep}${i18keyBean}_SEARCH_${i18keyBean}" /></h1>

<form action="<wp:action path="/ExtStr2/do/FrontEnd/${builder.springBeanPreposition}/${beanClass}/search.action" />" method="post" >

  <fieldset>
#foreach($f in $bean.searchFields)
#parse("templates/jsp/aps/inc/frontend_input_fields.vm")
#end
  </fieldset>

  <button type="submit" class="btn btn-primary">
    <wp:i18n key="SEARCH" />
  </button>

<wpsa:subset source="${beanVar}sId" count="10" objectName="group${beanClass}" advanced="true" offset="5">
<s:set name="group" value="#group${beanClass}" />

<div class="margin-medium-vertical text-center">
	<s:include value="/WEB-INF/apsadmin/jsp/common/inc/pagerInfo.jsp" />
	<s:include value="/WEB-INF/apsadmin/jsp/common/inc/pager_formBlock.jsp" />
</div>

<p>
  <a href="<wp:action path="/ExtStr2/do/FrontEnd/${builder.springBeanPreposition}/${beanClass}/new.action"></wp:action>" title="<wp:i18n key="NEW" />" class="btn btn-info">
    <span class="icon-plus-sign icon-white"></span>&#32;
    <wp:i18n key="NEW" />
  </a>
</p>

<table class="table table-bordered table-condensed table-striped">
<thead>
<tr>
#foreach ($f in $bean.fields)
#if($foreach.first)
  <th class="text-right">
    <wp:i18n key="${i18keyPrep}${i18keyBean}_$constants.toUpperCase($f.name)" />
  </th>
#else
	<th
    #if($f.type.javaType == "Date") class="text-center"#end
    #if($f.type.javaType == "int") class="text-right"#end
    #if($f.type.javaType == "BigDecimal") class="text-right"#end
    #if($f.type.javaType == "String") class="text-left"#end><wp:i18n key="${i18keyPrep}${i18keyBean}_$constants.toUpperCase($f.name)" /></th>
#end
#end
	<th>
    <wp:i18n key="${i18keyPrep}${i18keyBean}_ACTIONS" />
  </th>
</tr>
</thead>
<tbody>
<s:iterator id="${beanVar}$constants.getCapitalize($pk_field.name)">
<tr>
	<s:set var="${beanVar}" value="%{get${beanClass}(#${beanVar}$constants.getCapitalize($pk_field.name))}" />
#foreach ($f in $bean.fields)
#if($foreach.first)
	<td class="text-right">
    <a
      href="<wp:action path="/ExtStr2/do/FrontEnd/${builder.springBeanPreposition}/${beanClass}/edit.action"><wp:parameter name="${pk_field.name}"><s:property value="#${beanVar}.${pk_field.name}" /></wp:parameter></wp:action>"
      title="<wp:i18n key="EDIT" />: <s:property value="#${beanVar}.${pk_field.name}" />"
      class="label label-info display-block">
    <s:property value="#${beanVar}.${pk_field.name}" />&#32;
    <span class="icon-edit icon-white"></span>
    </a>
  </td>
#else
	<td
    #if($f.type.javaType == "Date") class="text-center"#end
    #if($f.type.javaType == "int") class="text-right"#end
    #if($f.type.javaType == "BigDecimal") class="text-right"#end>
    #parse("templates/jsp/aps/inc/frontend_print_fields.vm")
  </td>
#end
#end
	<td class="text-center">
    <a
      href="<wp:action path="/ExtStr2/do/FrontEnd/${builder.springBeanPreposition}/${beanClass}/trash.action"><wp:parameter name="${pk_field.name}"><s:property value="#${beanVar}.${pk_field.name}" /></wp:parameter></wp:action>"
      title="<wp:i18n key="TRASH" />: <s:property value="#${beanVar}.${pk_field.name}" />"
      class="btn btn-warning btn-small">
      <span class="icon-trash icon-white"></span>&#32;
      <wp:i18n key="TRASH" />
    </a>
  </td>
</tr>
</s:iterator>
</tbody>
</table>

<div class="margin-medium-vertical text-center">
	<s:include value="/WEB-INF/apsadmin/jsp/common/inc/pager_formBlock.jsp" />
</div>

</wpsa:subset>

</form>
</section>