#set( $beanVar = $constants.getUnCapitalize($bean.name))
#set( $beanClass = $bean.name)
#set( $springPrep = $constants.getLowerCase($bean.edoBuilder.springBeanPreposition))
#parse("templates/common/license/java_license.vm")
package ${bean.edoBuilder.packageName}.${constants.apsPackage};


import ${bean.edoBuilder.packageName}.${constants.getCapitalize($bean.edoBuilder.springBeanPreposition)}ConfigTestUtils;

import com.agiletec.ConfigTestUtils;
import com.agiletec.aps.BaseTestCase;

public class ${constants.getCapitalize($bean.edoBuilder.springBeanPreposition)}BaseTestCase extends BaseTestCase {

	@Override
	protected ConfigTestUtils getConfigUtils() {
		return new ${constants.getCapitalize($bean.edoBuilder.springBeanPreposition)}ConfigTestUtils();
	}

	
}
