#set( $builder = $bean.edoBuilder)
#set( $beanVar = $constants.getUnCapitalize($bean.name))
#set( $beanClass = $bean.name)
#set( $springPrep = $constants.getLowerCase($builder.springBeanPreposition))
#parse("templates/common/license/java_license.vm")
package ${builder.packageName}.${constants.apsPackage};


import ${builder.packageName}.${constants.getCapitalize($builder.springBeanPreposition)}ConfigTestUtils;

import com.agiletec.ConfigTestUtils;
import com.agiletec.aps.BaseTestCase;

public class ${constants.getCapitalize($builder.springBeanPreposition)}BaseTestCase extends BaseTestCase {

	@Override
	protected ConfigTestUtils getConfigUtils() {
		return new ${constants.getCapitalize($builder.springBeanPreposition)}ConfigTestUtils();
	}

	
}
