#set( $builder = $bean.edoBuilder)
#parse("templates/common/license/java_license.vm")
package ${builder.packageName}.${constants.servicesPackage}.${constants.getLowerCase($bean.name)}.model;

$bean.getImports(false)
import com.fasterxml.jackson.databind.annotation.JsonDeserialize;
import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import org.entando.entando.web.common.json.JsonDateDeserializer;
import org.entando.entando.web.common.json.JsonDateSerializer;

public class ${bean.name}Dto {

#foreach ($f in $bean.fields)	
#if($f.type.javaType == 'Date')
    @JsonSerialize(using = JsonDateSerializer.class)
    @JsonDeserialize(using = JsonDateDeserializer.class)
#end
	private $f.type.getJavaType() $f.getName();
#end

#foreach ($f in $bean.fields)
	public $f.type.getJavaType() get${constants.getCapitalize($f.name)}() {
		return $f.getName();
	}
	public void set${constants.getCapitalize($f.name)}($f.type.getJavaType() $f.getName()) {
		this.$f.getName() = $f.getName();
	}

#end

    public static String getEntityFieldName(String dtoFieldName) {
		return dtoFieldName;
    }
    
}
