#set( $builder = $bean.edoBuilder)
#set( $beanVar = $constants.getUnCapitalize($bean.name))
#set( $beanClass = $bean.name)
#set( $pk_field = $bean.fields[0])
#if($builder.plugin)
#set($label_prep="${builder.pluginName}.")
#else
#set($label_prep="")
#end
<%@ taglib prefix="s" uri="/struts-tags" %>
<%@ taglib prefix="wp" uri="/aps-core" %>

<wp:ifauthorized permission="$builder.permission">
	<li><a href="<s:url namespace="/do/${builder.springBeanPreposition}/${beanClass}" action="list" />" ><s:text name="${label_prep}title.${beanVar}Management" /></a></li>
</wp:ifauthorized>
