#set( $builder = $bean.edoBuilder)
#set( $beanVar = $constants.getLowerCase($bean.name))
#set( $beanClass = $bean.name)
#set( $package = "${builder.packageName}.${constants.servicesPackage}.${beanVar}")
#set( $springPrep = $constants.getLowerCase($builder.springBeanPreposition))
#set( $daoName = "$constants.getUnCapitalize($beanClass)DAO")
#set( $managerName = "$constants.getUnCapitalize($beanClass)Manager")
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">


	<bean id="${springPrep}${beanClass}DAO" class="${package}.${beanClass}DAO">
		<property name="dataSource" ref="servDataSource" />
	</bean>

	<bean id="${springPrep}${beanClass}Manager" class="${package}.${beanClass}Manager"
		parent="abstractService">
		<property name="keyGeneratorManager" ref="KeyGeneratorManager" />
		<property name="${daoName}" ref="${springPrep}${beanClass}DAO" />
	</bean>

    <bean id="${springPrep}${beanClass}Service" class="${package}.${beanClass}Service" >
        <property name="$managerName" ref="${springPrep}${beanClass}Manager" />
    </bean>

</beans>